[Desktop Entry]
Name=Starcraft
X-KDE-PluginInfo-Author=Rokin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Starcraft
X-KDE-PluginInfo-Version=1.0
